/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.DS_Store

/public/js/adjustments.js
/public/js/datepicker.js
/public/css/material-dashboard.css
/public/css/datepicker.css
/public/wizard/css/material-bootstrap-wizard.css
